@charset "utf-8";
/*------ ブラウザの持つマージンとパディングの設定をリセットする ------*/
* {
	padding: 0;
	margin: 0;
}
@media only screen and (min-width:641px){
	#wrapper{
		width:100%;
		margin:0 auto;
		clear:both;
		overflow: hidden;
	}
	html{
		box-sizing:border-box;
	}
	*,*:before,*:after{
		box-sizing:inherit;
	}
	img {
		max-width:100%;
		width:100%;
		height:auto;
	}
	body{
		font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
		font-size:85%;
	}
	#breadcrumb{
		clear: both;
		overflow: hidden;
		margin-bottom: 2%;
		margin-left:2%;
	}
	#breadcrumb p{
		float:left;
	}
	h2{
		border-top: 1px solid #CCCCCC; 
		border-bottom: 1px solid #CCCCCC;
		padding: 1% 0;
		margin:2% 9.5%;
		font-size: 150%;
	}
	#contents{
		clear: left;
		overflow: hidden;
		margin-left:10%;
		width:80%;
		margin-right:2%; 
		border: 1px solid #CCCCCC; 
	}
	h3{
		text-align:center;
		margin:5% 9%;
		padding-bottom:1%;
		border-bottom: 1px solid black; 
		font-size: 120%; 
	}
	#login_detail{
		height:300px;
	}
	#registration_detail{
		height:300px;
	}
	#login{
		float: left;
		width:45%;
		margin-right:5%; 
	}
	#login p{
		padding:2% 9%;
	}
	table{
		margin-left:9%;
	}
	table th{
		padding:2% 0;
	}
	table td{
		padding:0 7%;
	}
	.sbt_1{
        background-color:#C1AB70;
		padding:4.3% 0;
		margin-top:6.05%;
		width:100%;
		color: white;
		margin-top:2%;
		margin-bottom:2.5%;  
	}
	#errorMsgs{
			color: red;
			margin:1% 9%;
	}

	/*#login_botton{
		background-color:#FF9900;
		margin-left:9%;
		margin-right:5%; 
		margin-bottom:5%; 
	}*/
	#login_botton p{
		text-align:center; 
	}
	#registration{
		float: left;
		width:45%;
		margin-right:5%; 

	}
	#registration p{
		padding:2% 9%; 
	}
	#registration_botton{
		background-color:#C1AB70;
		margin-left:9%;
		margin-right:5%;
		margin-top:3%;
		margin-bottom:2.5%;   
		padding:2% 9%; 
	}
	#registration_botton p{
		text-align:center; 

	}
	#registration_botton a{
		color: white;
		text-decoration: none;
	}
	#footer{
		clear:left;
		overflow:hidden;
		width:100%;
		height:100%;
		padding:0 35.5%;

	}
	#footer p{
		float:left;
		margin:2% 1%;
		padding:3% 3%;
		border-radius:50%;
		border:solid 1px black;
		
	}
	#num ul{
		clear: both;
		overflow: hidden;
		padding:0 35%;
	}
	#num li{
		float: left;
		border:solid 1px black;
		padding:3%;
		margin: 1%;
	}
	#top{
		position: fixed;
  		bottom: 1%;
  		right: 1%;
  		height:150px;
  		width:150px;
  		padding: 5px;
  		border-radius:50%;
  		background-color: rgba(0,250,0,0.5);
	}
	#top p{
		text-align:center;
		padding-top:65px; 
		color:white;
	}
	footer{
		width: 100%;
		text-align:center;
		padding: 1%;
		margin-top: 1%;
		background-color:#3D6124;
		color: white;
	}
	

}
@media only screen and (max-width:640px){   /*minをmaxに641pxを640に*/
	#wrapper{
		width:100%;/*width94%を100%に変更*/
		margin:0 auto;
	}
	html{
		box-sizing:border-box;
	}
	*,*:before,*:after{
		box-sizing:inherit;
	}
	img {
		max-width:100%;
		width:100%;
		height:auto;
	}
	#wrapper{
		width:94%;
		margin:0 auto;
	}
}






